* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Palette
    white: #f1f3de;
    pink: #eb8f8f;
    red: #ec0101;
    dark red: #cd0a0a;
*/


/* Animación de corazón */

@keyframes corazon1 {
    from {top: 0vmin; /*box-shadow: 3vmin 3vmin  10px -1vmin rgba(66, 66, 66, 0.75);*/}
    to {top: 5vmin; /*box-shadow: 6.4vmin 6.4vmin  15px -1.5vmin rgba(66, 66, 66, 0.75);*/}
}

@keyframes shadow {
    from {box-shadow: 0 0 3.2vmin 0.7vmin rgba(66, 66, 66, 0.75);}
    to {box-shadow: 0 0 3.2vmin 1.7vmin rgba(66, 66, 66, 0.75);}
}

/* Fin de animación de corazón */

/* Animación de título */

@keyframes title {
    from {color: #a70a0a;}
    to {color: #ec0101;}
}

/* Fin de animación de título */

body {
    min-height: auto;
    background: #eb8f8f;
    background-repeat:no-repeat;
    background: linear-gradient(to bottom right, #f1f3de 0%, #eb8f8f 100%) fixed;
}


/* Button */

nav a div {
    background: red;
    background: radial-gradient(red 30%, #cd0a0a 100%);
    border: solid 4px #f1f3de;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    height: 40px;
    width: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    top: 2px;
    left: 2px;
    text-indent: -9999px;

    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -ms-transition: all 100ms;
    -o-transition: all 100ms;
    transition: all 100ms;
}

nav a div:hover {
    height: 50px;
    width: 50px;
    top: -3px;
    left: -3px;
    transition: all 100ms;
}

nav a div:active {
    background: #cd0a0a;
    background: radial-gradient(#cd0a0a, red);
    height: 50px;
    width: 50px;
    top: -3px;
    left: -3px;
}

/* End button */


nav ul li {
    display: inline;
    padding: 0 7px;
}

nav#navigation {
    background: #cd0a0a;
    background: linear-gradient(170deg, #cd0a0a, red);
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 13px;
}

ul {
    float: right;
    padding-right: 6px;
}

li a:link, 
li a:visited {
    color: #f1f3de;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 6px rgba(66, 66, 66, 0.75);
}

li a:hover, 
li a:active {
    color: rgba(241, 243, 222, 0.65);
    text-shadow: 2px 2px 10px rgba(66, 66, 66, 0.5);
}

h1 {
    animation: title 0.7s ease-out infinite alternate;
}

main {
    margin: 40px 0;
}

h1, h2 {
    margin: 60px 0 5vmin;
    text-align: center;
    color: darkslategray;
}

.content {
    background-color: #f1f3de;
    color: darkslategray;
    width: 64vmin;
    margin: 3vmin auto;
    padding: 10px 18px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 1.5em;
}

.content .text{
    /*float: left;*/
    display: block;
    width: 50vmin;
    margin: 0 auto 14px;
}

.content .image{
    /*float: right;
    width: 40%;*/
    display: block;
    width: 50vmin;
    margin: 0 auto 14px;

    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

.content p em {
    display: block;
    text-align: center;
}

.content a {
    margin-left: 20px;
}

.content a:link, 
.content a:visited {
    color: darkslategray;
    text-decoration: none;
}

.content a:hover, 
.content a:active {
    /*font-weight: bold;*/
    text-decoration: underline;
}

.heart{
    position: relative;
    width: 7vmin;
    height: 7vmin;
    margin: 10vmin auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #ec0101;
    /*box-shadow: 1vmin 1vmin  5px 0.4vmin rgba(66, 66, 66, 0.75);*/
    animation: corazon1 0.7s ease-in infinite alternate;
}
.heart:before,
.heart:after{
    position: absolute;
    width: 7vmin;
    height: 7vmin;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #ec0101;
  }
.heart:before{
    bottom: 0;
    left: -3.5vmin;
  }
.heart:after{
    top: -3.5vmin;
    right: 0;
  }

.heart-shadow {
    z-index: -1;
    position: relative;
    width: 4vmin;
    margin: -3.5vmin auto;
    height: 0;
    color: rgba(66, 66, 66, 0);
    box-shadow: 0 0 3.2vmin 10px rgba(66, 66, 66, 0.75);
    animation: shadow 0.7s ease-in infinite alternate;
}

footer {
    background: linear-gradient(170deg, red, #cd0a0a);
    color: #f1f3de;
    padding: 8px 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(66, 66, 66, 0.75);
}
